*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.section{
    margin-top: 130px;}
.btn-primary{
    font-weight: 700px;
    font-size: 20px;
    color:#FFFFFF;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
/* header and nevigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
     
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
.header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* banner style */
.banner{
    display: flex;
   align-items: center;
    margin: 0px 200px;
     
    
}
.banner-title{
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 15px;
}
.banner-subtitle{
 font-weight: 600;
 font-size: 45px;
 margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    padding: 10px 10px;
    
}
/* main section */
main{
max-width: 1140px;
margin: 0 auto;
}
/* about section style */
.about{
    
    background-color: #FFF8F3;
    padding: 130px 150px;
}
.section-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}
.section-discription{
color: #757575;
font-size: 18px;
margin-bottom: 30px;

}
 
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about.info-title{
    font-size: 20;
    color:#757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
}
/* what i do style */
 

.skills-container{
    display: flex;
    gap: 60px;
}
.skill{
color: #FFFFFF;
border-radius: 5px;
box-shadow: 0px  6px 50px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.skill-title{
    font-weight: 700px;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
color: #757575;
}
/* resume content */
.resume-content{
    display: flex;
    gap: 50px;
}
.resume-container{
    display: flex;
    gap: 25px;

}
.resume-title{
    color: #474747;
    font-weight: 700px;
    font-size: 24px;
    margin-bottom: 10px;
}
.resume-subtitle{

    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-description{
color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;

}
 
.resume-btn{
margin-top: 50px;
text-align: center;
}
/* Contact style */
.section-description{
    margin-top: 10px;
    margin-bottom: 10px;
     
}
.contact{
    display: flex;
    gap: 100px;
    padding:  130px 200px;
    color:#474747;
}
.contact.section-title{
    margin-top: 10px;
    text-align: left;
    padding: 10px;

}
.contact input ,textarea{
    color: #FFFFFF;
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:  18px 40px;
    
}
input{
    height: 64px;
}
.contact{
    text-decoration: none;
}
 